name: Github to MatterMost WebHook

on: issues
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create the Mattermost Message
        run: |
          echo "{\"text\":\"${{github.event.issue.number}} created!!\"}" > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}


      
