name: Github to MatterMost WebHook

on:
  pull_request:
    types: [review_requested, created, closed]
  pull_request_review_comment:
    types: [created, edited]
  issues:
    types: [opend, closed]
  issue_comment:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create the Mattermost Message
        run: |
          echo "{\"text\":\"testing github action :tada:\"}" > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}


      
