name: Github to MatterMost WebHook

on: 
  issues:
    types: [opened]
  issue_comment:
    types: [created, deleted]
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create the Mattermost Message
        env:
          NUMBER: ${{github.event.issue.number}}
          ACTOR : ${{github.event.issue.actor.display_login}}
        run: |
          echo "{\"text\":\" $ACTOR created $NUMBER\"}" > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}



      
