name: Github to MatterMost WebHook

on: 
  issues:
    types: [opened]
  issue_comment:
    types: [created, deleted]
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name : show info
        run : echo "GITHUB_CONTEXT"
    
      - name: Create the Mattermost Message
        env:
          NUMBER: ${{github.event.issue.number}}
          TITLE : ${{ github.event.issue.title}}
          ACTOR : ${{github.actor}}
        run: |
          echo "{\"text\":\" $ACTOR created #$NUMBER $TITLE\"}" > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}



      
